<main>
  <header class="main__header">TO-DO list</header>
  <div class="main__container--add">
    <input class="container__input" type="text" placeholder="{{inputText}}" #newTask>
    <button type="button" class="container__button--ADD" (click)="addNewTask(newTask.value)">ADD</button>
    <button type="button"  class="list__button--update" >Update</button> 
  </div>
  <ul class="main__list">
    <li class="list__elemnt" *ngFor="let task of tasks">{{task.description}} 
      <button type="button" class="list__button--delete">Delete</button> 
    </li>
  </ul>


</main>