*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* ELEMENT'S SELECTORS */
html {
  font-size: 62.5%;
}

.main{
    display: flex;
    flex-direction: row;
}

a{
    text-decoration: none;
}

button:hover{
    background-color: rgb(37, 37, 38);
    cursor: pointer;
}

/* Selectors body */
/* header */
.cabecera{
    display: flex;
    flex-direction: row;
    height: 6rem;
    align-items: center;
}

.cabecera-izq{
    display: flex;
    flex-direction: row;
    width: 60rem;
    justify-content: space-evenly;
}

.cabecera-dcha{
    display: flex;
    flex-direction: row;
    width: 70rem;
    justify-content: space-evenly;
}

.logo{
    text-align: center;
    max-width: 60rem;
}

.deportes{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.nav-sports{
    background-color:  rgb(187, 39, 26);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    height: 4rem;
    align-items: center;
    font-weight: 600;
}

.deportes-nav{
    color: rgb(255, 255, 255);
}
/* MAIN' SELECTORS */
/* banner's selectors */

.banner-side{
    max-width: 20rem;
}

/* new's selectors */

.noticias{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.first-block-news{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.first-block-left{
    display: flex;
    flex-direction: column;
}

.right{
    margin-left: 1%;
    margin-right: 1%;
}

.secondary-new{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}


.secondary-img-p{
    display: flex;
}

.img-secondary {
    max-width: 15rem;
    max-height: 15rem;
}

.main-new{
    width: 50rem;
    margin-top: 7%;
}

.titular-principal{
    font-size: xx-large;
    font-weight: 600;
    text-align: center;
}

.titular {
    font-size: large;
    font-weight: 600;
    text-align: center;
}

.second-block-news{
    display: flex;
    flex-direction: row;
}

.footer-main{
    background-color: rgb(238, 238, 238);
}

.direccion{
    display: flex;
    justify-content: center;
    height: 4rem;
    align-items: center;
}

.nav-footer{
    display: flex;
    justify-content: space-evenly;
    height: 4rem;
    align-items: center;
}

.sales{
    display: flex;
    justify-content: center;
    height: 4rem;
    align-items: center;
}
.social-logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 4rem;
    align-items: center;
}

.social-media{
    max-width: 3rem;
    max-height: 3rem;
}

/* ID'S SELECTORS */

#icon{
    width: 15%;
}

#side1, #side2{
    max-width: 20rem;
}


#btn-suscribete{
    background-color: rgb(187, 39, 26);
    color:  rgb(255, 255, 255);
    cursor: pointer;
}
