*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: heebo;
}

header {
    background-color:  rgb(189, 52, 48);;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

main {
    padding-left: 2rem;
    padding-right: 2rem;
}

.anchor__dashboard {
    background: white;
    color: rgb(189, 52, 48);
    border-radius: 15%;
    height: 5rem;
    width: 10rem;
    padding-top: 1.5rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 800;
}

.anchor__dashboard:hover {
    background: rgb(248, 203, 70);
    color: rgb(61, 111, 177);

}

.main__container {
    width: 100%;
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
}

.poke-img{
    max-height: 5rem;
}

ul a {
    color: black; 
    display: flex;
    justify-content: center;
    align-items: center;
    
}

li:hover {
    background-color: rgb(248, 203, 70);
}

li {
    list-style: none;
    margin-top: 3rem;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

.pages {
    color: white;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.8rem;
    font-weight: 800;
}

.pages:hover{
    cursor: pointer;
}

.thisTimePage {
    color: rgb(248, 203, 70);
    font-size: 1.8rem;
    font-weight: 800;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.button__prev, .button__next {
    max-width: 4rem;
}

.button__prev:hover {
    cursor: pointer;
    opacity: 0.7;
} 
.button__next:hover {
    cursor: pointer;
    opacity: 0.7;
}

#logo {
    height: 12rem;
}

.main__pagination {
    background-color:rgb(189, 52, 48);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
