@import "./variables.scss";

.main__modal{
    display: flex;
    height: 40%;
    width: 40%;
    position: absolute;
    bottom: 50%;
    border-radius: 5px;
    background-color: $backgroundGeneral;
    color: white;
    z-index: -1;
    font-family:  NotoSans-Bold,Arial,sans-serif;
    font-size: 14px;
    align-items: center;
}

.ul__img--modal:hover{
    .main__modal{
        z-index: 1;
    }
}