@import "./variables.scss";

.main__nav--bot{
    ul{
    padding-top: 4%;
    padding-bottom: 3%;
    background-color: $backgroundGeneral;
    display: flex;
    justify-content: space-evenly;
        img{
            width: 70px;
        }
    }
}

@media screen and (max-width: 1100px){
    .main__nav--bot{
       position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        ul{
            margin: 0;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        justify-content: space-evenly;
        padding-left: 5%;
            img{
                min-width: 70px;
                margin: 10px;
            }
        }
    }
}