.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;

  @include rwd(large) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: transparent;
  }

  &__logo {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__link {
    display: inline-block;
  }

  &__list {
    display: flex;

    @include rwd(large) {
      display: none;
    }
  }

  &__item {
    color: $white;
    list-style: none;
    padding-left: 2rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: 100ms all ease-out;
    font-size: 1.4rem;

    &:hover {
      color: $yellow;
    }
  }

  &__search-box {
    position: relative;

    @include rwd(large) {
      display: none;
    }
  }

  &__input {
    outline: none;
    display: block;
    height: 3.6rem;
    margin-left: 3rem;
    padding-left: 4rem;
    background-color: $bg-input;
    border: none;
    border-radius: 0.2rem;
    transition: all 100ms ease-out;

    &:focus {
      background-color: $white;
    }
  }

  &__icon {
    position: absolute;
    left: 4.5rem;
    top: 1rem;
    color: $color-icon;
  }

  &__icon--rwd {
    display: none;
    color: $white;

    @include rwd(large) {
      display: block;
      cursor: pointer;
      padding: 0 3rem;
    }
  }

  &__register {
    margin-right: 5rem;
    display: flex;
    align-items: center;

    @include rwd(large) {
      display: none;
    }
  }

  &__help {
    @extend %btn;
    color: $color-icon;

    &:hover {
      color: $yellow;
    }
  }

  &__sign-in {
    @extend %btn;
    color: $white;
    padding: {
      right: 1.5rem;
      left: 1.5rem;
    }

    &:hover {
      color: $yellow;
    }
  }

  &__sign-up {
    @extend %btn;
    background-color: $yellow;
  }
}
