* {
   background-color: white;

}

.titulo {
    display: flex;
    background-color: rgb(115, 180, 102);
    justify-content: center;
    margin: auto;
}

h1 {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.capt  {
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table, th, td {
    border: 1px solid black;
    margin-left: 15px;
}


small {
    font-family: 'Times New Roman', Times, serif;
}

.encabezado, li {
    display: flex;
    background-color: grey;
    flex-wrap: wrap;
    margin: auto;
}

.fotoDel {
    text-align: center;
}
.viejo {
    width: 600px;
    height: 600px;
}

p {
    margin-left: 15px;
    text-align: justify;
}

.seccioncol {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 1;

}

.video {
    display:grid;
    grid-area: 1 \ 1;
}

.info {
    display:grid;
    grid-area: 1 \ 2;
    justify-content: center;
    
}

footer, small {
    text-align: center;
    background-color: yellow;
}