<div class="main">
  <div class="main__container-left">
    <div class="main-left__title">DETAILS</div>
    <div class="main-left__container--name">
      {{ characterDetails.name }}
    </div>
    <div class="main-left__pic">
      <img src="{{ characterDetails.image }}" alt="character"/>
    </div>
    <div class="main-left__button-container">
      <div class="main-left__button" (click)="changeFavicon()">
        <i class="far fa-star fav"></i>
      </div>
    </div>
  </div>
  <div class="main__container-right">
    <div class="main__container-right--details">
      Gender --> {{ characterDetails.gender }} <br />
      Status --> {{ characterDetails.status }} <br />
      Origin --> {{ characterDetails.origin.name }} <br />
      Current Location --> {{ characterDetails.location.name }} <br />
      Species --> {{ characterDetails.species }} <br />
      First Episode --> {{ episodeArray[0] }} <br />
      Last Episode --> {{ episodeArray[episodeArray.length - 1] }} <br />
    </div>
  </div>
</div>