<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js" defer ></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js" defer ></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer ></script>
</head>
<body>
    <h1>Register</h1>
    <div>
        <form action="/welcome" method="POST">
            <input type="text" name="username" placeholder="Username" value="Username"><br>
            <input type="password" name="password" placeholder="Password" value="Password"><br><br>
            <button type="submit">Register</button>
        </form>
    </div>
    <a href="./">Main</a>
</body>
</html>