.container__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  background-color: #171717;
}

.main__carrusel {
  overflow: hidden;
}

.main__carrusel figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  -webkit-animation: 15s main__carrusel infinite;
          animation: 15s main__carrusel infinite;
}

.main__carrusel figure img {
  width: 20%;
  float: left;
  cursor: pointer;
}

@-webkit-keyframes main__carrusel {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

@keyframes main__carrusel {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

.banner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container__img {
  padding: 10px 10px 10px;
  min-width: 217px;
  border: 2px solid transparent;
}

.container__img > img:hover {
  border: 1px solid yellow;
  cursor: pointer;
}

.container__img > img {
  width: 100%;
}

.recommended__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: scroll;
  width: 1500px;
}

.recommended__container::-webkit-scrollbar {
  display: none;
}

/*
 ::-webkit-scrollbar {

    width: 0;  /* Remove scrollbar space 
    background: transparent;  /* Optional: just make scrollbar invisible 
}
*/
.recommended__subtitle {
  color: white;
  padding-left: 7px;
}

.img__info {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(241, 241, 241, 0.72);
  color: #fff;
  opacity: 0;
  margin-bottom: 0;
  margin-top: 0;
}

/*
 .img__info::after {
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    right: 0;
    background: rgba(241, 241, 241, 0.72);
    color: #fff;
    overflow: hidden;
    opacity: 0;
  }
  */
.container__img:hover .img__info {
  visibility: visible;
  opacity: 1;
}

.new__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
  width: 1500px;
}

.new__subtitle {
  color: white;
  padding-left: 7px;
}

.genre__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.genre__subtitle {
  color: white;
  padding-left: 7px;
}

.genre_class {
  color: white;
  text-align: center;
  margin-top: 3px;
  padding-top: 5px;
}

.container__ico {
  padding: 10px 10px 10px;
}

.container__ico > img:hover {
  cursor: pointer;
}

.container__ico > img {
  min-width: 100px;
  max-width: 100px;
  max-height: 100px;
}

#all {
  padding-left: 25%;
  width: 50%;
}
/*# sourceMappingURL=body.css.map */