/*
CLASS SELECTORS
*/
.body__header--principal {
  height: 60px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: NotoSans-Bold,Arial,sans-serif;
  font-weight: 800;
}

.header__nav--left {
  margin-right: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  background-color: black;
  color: white;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header__nav--left a {
  font-family: NotoSans-Bold,Arial,sans-serif;
  font-weight: 800;
  color: white;
  text-decoration: none;
  margin-left: 4%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header__nav--left a:hover {
  color: #ffe300;
}

.header__nav--left input {
  font-weight: 600;
  color: #756a51;
  background-color: #333333;
  margin-left: 8%;
  border-radius: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 25px;
  border: none;
}

.header__nav--left .ul__a--cinema {
  margin-left: 0%;
}

.nav__svg--rakuten {
  margin-left: 2%;
}

.nav__ul--left {
  margin-left: 0%;
  padding-left: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
}

.header__nav--rigth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 35%;
  font-size: 14px;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav--rigth button {
  margin-left: 4%;
  font-weight: 800;
  width: auto;
  height: 40px;
  background-color: #ffe300;
  border-radius: 5px;
  border: none;
}

.header__nav--rigth button:hover {
  background-color: #dfc500;
}

.header__nav--rigth a {
  text-decoration: none;
  font-family: NotoSans-Bold,Arial,sans-serif;
  margin-left: 4%;
  color: white;
}

.header__nav--rigth a:hover {
  color: #ffe300;
}

.header__nav--rigth .a__nav--grey {
  color: #779999;
}

/*
MEDIA QUERYS
*/
@media screen and (max-width: 1210px) {
  .a__nav--grey {
    width: 30%;
    margin-left: 0%;
  }
}

@media screen and (max-width: 1100px) {
  .body__header--principal {
    height: 0;
  }
  .nav__svg--rakuten {
    position: absolute;
    top: 10px;
    z-index: 1;
  }
}

.main__carousel--principal {
  overflow: hidden;
}

.main__carousel--principal figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  -webkit-animation: 20s slider infinite;
          animation: 20s slider infinite;
}

.main__carousel--principal figure img {
  width: 20%;
  float: left;
}

@-webkit-keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

.main__banner-list {
  width: 100%;
}

.main__banner-list ul {
  width: 97%;
  margin: 0;
  margin-top: 5%;
  padding-right: 0;
  padding-left: 1%;
  background-color: #171717;
  padding-bottom: 4%;
}

.main__banner-list ul a {
  max-width: 253.8px;
  max-height: 170.77px;
}

.main__banner-list ul img {
  border: solild 4px transparent;
  max-width: 253.8px;
  margin: auto;
}

.main__banner-list ul img:hover {
  border: solid 4px #dfc500;
}

/*
MEDIA QUERYS
*/
@media screen and (max-width: 1320px) {
  .main__banner-list {
    width: auto;
  }
  .main__banner-list a {
    margin: 5px;
  }
  .main__banner-list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: scroll;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

.main__film-list {
  width: auto;
}

.main__film-list header h2 {
  margin-left: 1%;
  font-family: NotoSans-Bold,Arial,sans-serif;
  color: white;
}

.main__film-list img:hover {
  border: solid 4px #dfc500;
}

.main__film-list ul {
  padding-left: 0;
  margin-left: 1%;
  overflow-x: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main__film-list ul img {
  margin: 5px;
}

.main__nav--bot ul {
  padding-top: 4%;
  padding-bottom: 3%;
  background-color: #171717;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main__nav--bot ul img {
  width: 70px;
}

@media screen and (max-width: 1100px) {
  .main__nav--bot {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .main__nav--bot ul {
    margin: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: scroll;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-left: 5%;
  }
  .main__nav--bot ul img {
    min-width: 70px;
    margin: 10px;
  }
}

.main__modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40%;
  width: 40%;
  position: absolute;
  bottom: 50%;
  border-radius: 5px;
  background-color: #171717;
  color: white;
  z-index: -1;
  font-family: NotoSans-Bold,Arial,sans-serif;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ul__img--modal:hover .main__modal {
  z-index: 1;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

main {
  background-color: #171717;
}

.lupa__svg {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 3%;
  right: 3%;
  z-index: 2;
  display: none;
}

@media screen and (max-width: 1100px) {
  .lupa__svg {
    display: inline;
  }
}
/*# sourceMappingURL=main.css.map */