@import "./variables.scss";

.main__film-list{
    width: auto;
    header{
        h2{
            margin-left: 1%;
            font-family: NotoSans-Bold,Arial,sans-serif;
            color: white;
        }
    }
    img:hover{
        border: solid 4px $yellowHover;
    }
    ul{
        padding-left: 0;
        margin-left: 1%;
        overflow-x: scroll;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        img{
            margin: 5px;
        }
    }
}