#mesa {
    display: grid;
    justify-content: center;
}

#caca {
    align-items: center;
}

h1 {
    color: rgb(108,50,16);
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
    text-align: center;
}

#tablero {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    background-color: rgb(233,224,227);
    width: 500px;
    height: 500px;
}

#tablero > div {
    border: 1px solid black;
}

#tablero > div:hover {
    cursor: pointer;
    background-color: rgb(129,79,39);
}