.nombre {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#banner {
    border: 4px solid black;
    height: fit-content;
}
.content{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}