# Creado por https://www.toptal.com/developers/gitignore/api/sonarqube
# Edite en https://www.toptal.com/developers/gitignore?templates=sonarqube
# ## SonarQube ###
# SonarQube ignora los archivos.
#
# https://docs.sonarqube.org/display/SCAN/Analyzing+with+SonarQube+Scanner
# Directorios de trabajo de Sonar Scanner
.sonar /
.scannerwork /

# http://www.sonarlint.org/commandline/
# Directorios de trabajo de SonarLint, archivos de configuración (incluidas las credenciales)
.sonarlint /

# Fin de https://www.toptal.com/developers/gitignore/api/sonarqube

# ## Windows ###
# Archivos de caché de miniaturas de Windows
Thumbs.db
Thumbs.db: encriptable
ehthumbs.db
ehthumbs_vista.db

# Archivo de volcado
* .stackdump

# Archivo de configuración de carpeta
[ Dd ] esktop.ini

# Papelera de reciclaje utilizada en archivos compartidos
$ RECICLAJE.BIN /

# Archivos de Windows Installer
* .cab
* .msi
* .msix
* .msm
* .msp

# Accesos directos de Windows
* .lnk

# Fin de https://www.gitignore.io/api/windows


# Creado por https://www.gitignore.io/api/macos
# Edite en https://www.gitignore.io/?templates=macos

# ## macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# El icono debe terminar con dos \ r
Icono

# Miniaturas
._ *

# Archivos que pueden aparecer en la raíz de un volumen
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
# Directorios potencialmente creados en recursos compartidos de AFP remotos
.AppleDB
.AppleDesktop
 Carpeta de basura de  red
 Elementos temporales
.apdisk

# Fin de https://www.gitignore.io/api/macos


# Creado por https://www.gitignore.io/api/linux
# Edite en https://www.gitignore.io/?templates=linux

# ## Linux ###
* ~

# archivos temporales que se pueden crear si un proceso todavía tiene un identificador abierto de un archivo eliminado
.fuse_hidden *

# Preferencias del directorio de KDE
.directorio

# Carpeta de basura de Linux que puede aparecer en cualquier partición o disco
.Trash- *

# Los archivos .nfs se crean cuando se elimina un archivo abierto pero aún se está accediendo
.nfs *

# Fin de https://www.gitignore.io/api/linux

# Creado por https://www.gitignore.io/api/visualstudiocode
# Edite en https://www.gitignore.io/?templates=visualstudiocode

# ## VisualStudioCode ###
.vscode

# ## Parche VisualStudioCode ###
# Ignorar todo el historial local de archivos
.historia

# Fin de https://www.gitignore.io/api/visualstudiocode


# Creado por https://www.gitignore.io/api/compressed
# Edite en https://www.gitignore.io/?templates=compressed

# ## Comprimido ###
* .7z
* .deb
* .gz
* .pkg
* .rar
* .rpm
* .sit
* .sitx
* .tar
* .zip
* .zipx
* .tgz

# Fin de https://www.gitignore.io/api/compressed


# Creado por https://www.gitignore.io/api/node
# Edite en https://www.gitignore.io/?templates=node

# ## Nodo ###
# Registros
registros
* .log
npm-debug.log *
yarn-debug.log *
yarn-error.log *
lerna-debug.log *
# Informes de diagnóstico (https://nodejs.org/api/report.html)
informe. [ 0-9 ] * . [ 0-9 ] * . [ 0-9 ] * . [ 0-9 ] * .json
# Datos en tiempo de ejecución
pids
* .pid
* .seed
* .pid.lock
# Directorio para librerías instrumentadas generadas por jscoverage / JSCover
lib-cov
# Directorio de cobertura utilizado por herramientas como estambul
cobertura
* .lcov
# cobertura de prueba de Nueva York
.nyc_output
# Almacenamiento intermedio Grunt (https://gruntjs.com/creating-plugins#storing-task-files)
.gruñido
# Directorio de dependencias de Bower (https://bower.io/)
bower_components
# configuración de node-waf
.lock-wscript
# Complementos binarios compilados (https://nodejs.org/api/addons.html)
construir / liberar
# dependencias
/ node_modules
/ .pnp
.pnp.js
módulos_nodo /

# prueba
/ cobertura

# producción
/ construir

# misceláneo
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log *
yarn-debug.log *
yarn-error.log *
jspm_packages /
# Archivos de declaración de TypeScript v1
mecanografia /
# Caché de TypeScript
* .tsbuildinfo
# Directorio de caché npm opcional
.npm
# Caché eslint opcional
.eslintcache
# Historial de REPL opcional
.node_repl_history
# Salida de 'paquete npm'
* .tgz
# Archivo de integridad del hilo
.yarn-integridad
# archivo de variables de entorno dotenv
.env
.env.test
# caché del paquete de paquetes (https://parceljs.org/)
.cache

# next.js build output
.Siguiente

# nuxt.js generar salida
.nuxt

# rollup.js salida de compilación predeterminada
dist /

# Descomente la línea pública si su proyecto usa Gatsby
# https://nextjs.org/blog/next-9-1#public-directory-support
# https://create-react-app.dev/docs/using-the-public-folder/#docsNav
# público

# Resultados de la construcción del libro de cuentos
.fuera
.storybook-out

# salida de compilación de vuepress
.vuepress / dist
# Directorios sin servidor
.servidor /
# Caché de FuseBox
.fusebox /
# Archivos locales de DynamoDB
.dynamodb /

# Carpetas temporales
tmp /
temp /

# Fin de https://www.gitignore.io/api/node

# archivos multimedia
# ## Imágenes ###
# JPEG
* .jpg
* .jpeg
* .jpe
* .jif
* .jfif
* .jfi
# JPEG 2000
* .jp2
* .j2k
* .jpf
* .jpx
* .jpm
* .mj2
# JPEG XR
* .jxr
* .hdp
* .wdp

# Formato de intercambio de gráficos
* .gif

# RAWf
* .raw

# Web P
* .webp

# Gráficos de red portátiles
* .png

# Gráficos de red portátiles animados
* .apng

# Gráficos de red de múltiples imágenes
* .mng

# Formato de archivo de imagen etiquetado
* .tiff
* .tif

# Formato de documento portátil
* .pdf

# X BitMap
* .xbm

# BMP
* .bmp
* .dib

# ICO
* .ico

# Imágenes 3D
* .3dm
* .max

# Videos
* .mp4
* .avi
* .m4v
* .mov
* .mpg
* .mpeg
* .wmv
* .asf
* .wma
* .wav

# Fin de https://www.toptal.com/developers/gitignore/api/images

auth-data.js

#  Firebase
.base de fuego /

# expo /

/ .expo
.expo /