@import '../../../variables.scss';
@font-face {
    font-family: 'HoustonComic';
    src:url('../../resources/HoustonComicsPersonalUse-6Yea1.ttf')
}
@font-face {
font-family:'Avengeance';
src: url('../../resources/Avengeance-YolO.ttf');
}
.main-container {
    padding-bottom: 90px;
    &__wrapper-img {
        display: none;
    }
    &__container-img {
        position: relative;
    }
    &__fav {
        display: flex;
        align-items: center;
        width: 90%;
        height: 100px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 30px;
    }
    &__icon {
        margin-left: 15px;
        font-size: 30px;
        cursor: pointer;
    }

    &__fav-img {
        width: 100%;
        height: 100px;
        object-fit: cover;
    }
    &__fav-name {
        background-color: $yellowMarvel;
        width: 130px;
        height: 21px;
        font-family: "HoustonComic", Arial, Helvetica, sans-serif;
        font-size: 10px;
        padding:  5px;
        text-align: center;
        border: 1px solid black;
        position: absolute;
        bottom: 0;
        right: 0;
    }
  
    
    &__title {
        text-align: center;
        font-family: "Avengeance", Arial, Helvetica, sans-serif;
        margin-top: 30px;
    }
}

@media only screen and (min-width: 600px){
    .main-container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 10px;
        height: 100vh;
        width: 75%;
        margin: auto;
        &__wrapper-img {
            display: block;
            height: 100vh;
        }

        &__img {
            width: 100%;
            height: 100%;
        }


        &__fav-list {
            height: 90vh;
            margin: auto;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                display: none;
              }
        }
        &__title {
            padding: 0 20px;
        }

    }
}