<div class="container">
      <h1>Character Form</h1>
      <form (ngSubmit)="onSubmit()" #person="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name"
                 required
                 [(ngModel)]="model.name" name="name"
                 #name="ngModel">
          <div [hidden]="name.valid || name.pristine"
               class="alert alert-danger">
            Oye, pon tu puto nombre
          </div>
          <button>Submit</button>
          <button type=reset>Reset</button>
        </div>
  
        <div class="form-group">
            <label for="surname">Surname</label>
            <input type="text" class="form-control" id="name"
                   required
                   [(ngModel)]="model.surname" name="surname"
                   #surname="ngModel">
            <div [hidden]="surname.valid || surname.pristine"
                 class="alert alert-danger">
              Surname is required
            </div>
          </div>

        <div class="form-group">
            <label for="age">Age</label>
            <input type="text" class="form-control" 
            required
            [(ngModel)]="model.age" name="age"
            #age="ngModel">
        </div>
  

    <h2>Listado</h2>
     
    <h2>Api</h2>
    <button (click)="getData()">Api SW</button>
    <button (click)="getUrl()">Cambiar URL</button>
    <ul>
      <li *ngFor="let item of dataApiSw">
        Name: {{ item.name }}
        Hair: {{ item.hair_color }}
      
      </li>
    </ul>
  
      
