.questionWrapper {
  height: 8rem;
  text-align: center;
  font-size: 2rem;
  color: white;

  & > p {
    padding-bottom: 1rem;
  }
}

.form {
  display: flex;
  justify-content: center;
  // margin-top: 4rem;
}

.input,
.aceptar-button {
  font-size: 1.6rem;
  padding: 1rem;
  margin-right: 1rem;
}

.input {
  text-align: center;
}

.aceptar-button {
  @extend %button;
}
