@font-face {
    font-family: 'Pokemon';
    src: url('../../services/Pokemon\ Solid.ttf');
}

#header__title {
    display: flex;
    justify-content: center;
    font-size: 75px;
    font-family: 'Pokemon';
    color: yellow;
    -webkit-text-stroke: 3px blue;
    background-color: red;
    margin-top: 0;
    margin-bottom: 0;

}

.header__container-audio {
    background-color: red;
}
.header__audio {
    visibility: hidden;
}

.main__anchor {
    display: flex;
    justify-content: center;
    background-color: red;
    border-bottom: 25px solid black;
}

.main__anchor > a {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: 'Pokemon';
    color: yellow;
    -webkit-text-stroke: 2px blue;
    background-color: red;
    text-decoration: none;
}

.main__anchor > a:hover {
    border-radius: 25px;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 4px;
    border: 4px solid black;
    
    
}

#main__pkm {
    display: flex;
    justify-content: center;
    
}
.main__pokemon__izq {
padding-right: 180px;
padding-top: 25px;
background-repeat: repeat;
}
.main__poke__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    width: 200px;
    padding-top: 27px;
    
   
}    

.poke__list--pokemon {
   text-decoration: none;
   color: rgb(0, 0, 0);
   font-size: 18px;
   text-transform:capitalize; 
   cursor: url('../../services/pokeicon.png'), default;
}

.poke__list--pokemon:hover{
    transform: scale(1.5);
    font-size: 20px;
    font-family: 'Pokemon';
    color: yellow;
    -webkit-text-stroke: 1px blue;

}

.main__pokemon__dcha {
    background-repeat: repeat;
    align-items: flex-end;
    padding-left: 150px;
    padding-top: 27px;
}

.footer__container {
    display: flex;
    justify-content: center;
}

.footer__container > button {
    background-color: black;
}