@font-face {
    font-family: 'Pokemon';
    src: url('../../services/Pokemon\ Solid.ttf');
}

#header__title {
    display: flex;
    justify-content: center;
    font-size: 75px;
    font-family: 'Pokemon';
    color: yellow;
    -webkit-text-stroke: 3px blue;
    background-color: red;
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: 10px 10px grey;

}

.header__container-audio {
    background-color: red;
}
.header__audio {
    visibility: hidden;
}

.main__anchor {
    display: flex;
    justify-content: center;
    background-color: red;
    border-bottom: 25px solid black;
}

.main__anchor > a {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: 'Pokemon';
    color: yellow;
    -webkit-text-stroke: 2px blue;
    background-color: red;
    text-decoration: none;
    text-shadow: 5px 5px grey;
}

.main__anchor > a:hover {
    border-radius: 25px;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 4px;
    border: 4px solid black;
    
    
    
}

#main__pkm {
    display: flex;
    justify-content: center;
    
}

.main__poke__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 27px;
    gap: 25px;
    
   
}    

.poke__list--pokemon {
    flex-grow: 1;
   text-decoration: none;
   color: rgb(0, 0, 0);
   padding-left: 25px;
   font-family:'Press Start 2P', cursive;
   padding-top: 5px;
   padding-bottom: 5px;
   font-size: 20px;
   text-transform:capitalize; 
   cursor: url('../../services/pokeicon.png'), default;
   flex: 0 1 calc(25% - 8px)
}

.poke__list--pokemon:hover{
    transform: scale(1);
    font-size: 40px;
    font-family: 'Pokemon';
    color: yellow;
    -webkit-text-stroke: 1px blue;
    text-shadow: 5px 5px grey;

}

.main__pokemon__dcha {
    align-items: flex-end;
    padding-top: 27px;
    
}


.footer__container {
    display: flex;
    justify-content: flex-start;
}

.footer__container > button {
    margin-top: 50px;
    margin-left: 13%;
    background-color: red;
    border-radius: 100px;
    border: 5px solid black;

}