*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font: {
    size: 1.6rem;
    family: $main-font;
  }
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.wrapper {
  background-color: #181818;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
