@import '../../../variables.scss';
@font-face {
    font-family: 'HoustonComic';
    src:url('../../resources/HoustonComicsPersonalUse-6Yea1.ttf')
}
@font-face {
font-family:'Avengeance';
src: url('../../resources/Avengeance-YolO.ttf');
}

.main-container{
    padding-top: 5px;
    background-color: $backgroundDashboard;
    min-height: 100vh;

    &__svg{
        display: block;
        height: 50px;
        margin: 2%;
    }
    &__wrapper{
        display: flex;
        justify-content: center;
        flex-direction: column ;
    }
    &__image{
        height: 207px;
        width: 100%;
        margin-bottom: 20px;
        object-fit: cover;
    }
    &__title{
        display: none;
    }
    &__top-heros{
        height: 70%;
        display: flex;
        align-items: center;
    }
    &__list{
        margin-top: 10%;
        list-style: none;
        margin: auto;
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
    &__anchors{
        cursor: pointer;
    }
    &__list-img{
        object-fit: cover;
        width: 100%;
        height: 120px;
    }
}

@media only screen and (min-width: 800px){
    .main-container{
        display: flex;
        min-height: 80vh;
        display: flex;
        flex-wrap: wrap;
        background-color: $backgroundDashboard;
        flex-direction: column;
        justify-content: start;
        align-items: center;

        &__svg{
            display: none;
        }
        &__title{
            display: block;
        }
        &__image{
            display: none;
        }
        &__title{
            margin: 2%;
            font-family: 'Avengeance';
            color: white;
            letter-spacing: 3px;
        }
        &__top-heros{
            display: flex;
            align-self: center;
        }
        &__list{
            margin-top: 3%;
            display: flex;
            justify-content: space-evenly;
        }
        &__hero{
            width: 150px;
            height: 160px;
        }
        &__anchors{
            display: flex;
            justify-content: space-evenly;
            margin: 2%;
        }
        &__list-img{
            object-fit: cover;
            width: 240px;
            height: 430px;
            overflow: hidden;
            transition: all 200ms ease-in-out;
            &:hover{
                border: 5px solid $yellowMarvel;
                transform: scale(1.1);
            }
        }
    }
}

// @media only screen and (min-width: 800px){    
//         .main-container{
//             background-color: $backgroundDashboard;
//         display: flex;
//         height: 100%;
//         flex-direction: column;
//         justify-content: space-evenly;
//         align-items: center;
//         &__title{
//             margin: 2%;
//             font-family: 'Avengeance';
//             color: white;
//             letter-spacing: 3px;
//         }
//         &__list{
//             display: flex;
//             justify-content: space-evenly;
//         }
//         &__anchors{
//             display: flex;
//             justify-content: space-evenly;
//             width: 240px;
//             height: 490px;
//             margin: 2%;
//         }
//         &__list-img{
//             object-fit: cover;
//             width: 220px;
//             height: 410px;
//             overflow: hidden;
//             transition: all 200ms ease-in-out;
//             &:hover{
//                 border: 5px solid $yellowMarvel;
//                 transform: scale(1.1);
//             }
//         }
//     }
// }


















