header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h1{
    font-family: sans-serif;
    font-size: 70px;
    font-style:italic;
    color: red;
}
.box3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
 #subscribe {
        border: outset;
        background-color: lavender;
    }
#login{
    border: outset;
        background-color: lavender;
}
.radio{
    display: flex;
    align-items: center;
}
.barra1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: ghostwhite;
}

.index {
cursor: pointer;
padding: 40px;
width: "150";
height: "150";
background-color: red;
display: flex;
flex-direction: row;
justify-content: space-around;
}
li:hover{
    background-color: whitesmoke;
}

 main {
     display: flex;
     flex-direction: row;
     justify-content: space-between;

 }
 .foot {
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 30rem;
  }
  
.editorial {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    font-weight: bold;
  }
  
  .conditions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-self: center;
    margin: 1rem 5rem;
  }
  
  .internal-links {
    text-decoration: none;
    margin: 0.5rem 2rem;
    color: black;
  }
  
  .follow-us {
    display: flex;
    height: 10rem;
    align-items: center;
    flex-direction: column;
  }
  
  .footer-p {
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-weight: bold;
  }
  
  .fa {
    display: inline !important;
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-twitter {
    display: inline;
    background: #55acee;
    color: white;
  }
  
  .fa-youtube {
    display: inline;
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    display: inline;
    background: #125688;
    color: white;
  }