.wrapper-dashboard {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png');
    background-repeat: no-repeat;
    background-size: cover;

    &__navbar {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 7rem;
        background-color: $brand-300;
        border-bottom: 1px solid rgba(128, 128, 128, 0.301);
    }

    &__navbar-item {
        list-style: none;

    }

    &__navbar-link {
        font-family: 'Pokemon-Solid', Arial, Helvetica, sans-serif;
        font-size: 1.8rem;
        color: $white;
    }

    &__title {
        font-family: 'Pokemon-Solid',Arial, Helvetica, sans-serif;
        font-size: 2.5rem;
        margin: 0;
        padding: .5rem;
        text-align: center;
        color: $brand-100;
        letter-spacing: .1rem;
        -webkit-text-stroke: 1px $brand-200;
        cursor: pointer;
    }

    &__list {
        border: .1rem solid rgba(151, 151, 151, 0.108);
        border-radius: 1rem;
        background-color: $white;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0 8rem;
        margin-top: 10rem;
    }

    &__item {
        list-style: none;
        padding: 5rem;
        transition: transform .2s; /* Animation */

        &:hover {
            transform: scale(1.1);
        }
    }

    &__link {
        display: block; 
        color: $white;
        background-color: #F2F2F2;
        padding: 3rem;
        border-radius: .6rem;
        font-size: 2rem;
        font-family: 'Pokemon-Solid', sans-serif;
        letter-spacing: 2px;
        box-shadow: 1px 2px 4px rgba(128, 128, 128, 0.322);
    }

    &__img {
        width: 10rem;
        height: 10rem;
    }

    &__subtitle {
        margin-top: 1rem;
        color: #313131;
        text-transform: capitalize;
        font-size: 1.84rem;
    }

    &__span {
        display: block;
        border-radius: 0.3rem;
        width: 10rem;
        background-color: $brand-200;
        color: $white;
        font-size: 1.1rem;
        line-height: 1.8rem;
        padding: 0.2rem 1rem;
        text-transform: capitalize;
        margin-top: 1rem;
    }
}