@font-face {
    font-family: 'Pokemon';
    src: url('../../services/Pokemon\ Solid.ttf');
}

#header__title {
    display: flex;
    justify-content: center;
    font-size: 75px;
    font-family: 'Pokemon';
    color: yellow;
    -webkit-text-stroke: 3px blue;
    background-color: red;
    margin-top: 0;
    margin-bottom: 0;

}
.header__container-audio {
    background-color: red;
}
.header__audio {
    visibility: hidden;
}

.header__nav {
    display: flex;
    justify-content: center;
    background-color: red;
    border-bottom: 25px solid black;
}

.header__nav > a {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: 'Pokemon';
    color: yellow;
    -webkit-text-stroke: 2px blue;
    background-color: red;
    text-decoration: none;
}

.header__nav > a:hover {
    border-radius: 25px;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 4px;
    border: 4px solid black;
    
    
}

.main-container__anchor > img {
    cursor: url('../../services/pokedex.png'), default;
}

.main-container__anchor > img:hover {
   transform: scale(1.5);
}