@font-face {
    font-family: 'Pokemon';
    src: url('../../services/Pokemon\ Solid.ttf');
}

#header__title {
    display: flex;
    justify-content: center;
    font-size: 75px;
    font-family: 'Pokemon';
    color: yellow;
    -webkit-text-stroke: 3px blue;
    background-color: red;
    margin-top: 0;
    margin-bottom: 0;

}
.header__container-audio {
    background-color: red;
}
.header__audio {
    visibility: hidden;
}