<h1>CV</h1>

<input type="text" #newInfo>


<ng-container *ngIf="(fetchCv$ | async) as user">
    <h2>{{user.userInfo.name}}</h2>
    <h6>{{user.userInfo.mail}}</h6>
    <h6>{{user.userInfo.phone}}</h6>

    <div class="main__container--experience">
        <h5>Experience</h5>
        <button type="button" (click)="addCvInfo('experience', user.experience, newInfo.value)" >Add</button>
        <ul class="experience-container__list">
            <li class="experience-list__element" *ngFor="let experience of user.experience, let i = index">
                {{experience}}
                <button type="button" (click)= "updateCvInfo('experience', user.experience, i , newInfo.value)" >Update</button>
                <button type="button" (click)= "deleteCvInfo('experience', user.experience, i)">Delete</button>
            </li>
        </ul>
    </div>
    <div class="main__container--skills">
        <h5>Skills</h5>
        <button type="button" (click)="addCvInfo('skills', user.skills, newInfo.value)" >Add</button>
        <ul class="skill-container__list">
            <li class="skill-list__element" *ngFor="let skill of user.skills, let i = index">
                {{skill}}
                <button type="button" (click)= "updateCvInfo('skills', user.skills, i , newInfo.value)" >Update</button>
                <button type="button" (click)= "deleteCvInfo('skills', user.experience, i)">Delete</button>
            </li>
        </ul>
    </div>
    <div class="main__container--education">
        <h5>Educacion</h5>
        <button type="button" (click)="addCvInfo('education', user.education, newInfo.value)" >Add</button>
        <ul class="education-container__list">
            <li class="education-list__element" *ngFor="let education of user.education, let i = index">
                {{education}}
                <button type="button" (click)= "updateCvInfo('education', user.education, i , newInfo.value)" >Update</button>
                <button type="button" (click)= "deleteCvInfo('education', user.experience, i)">Delete</button>
            </li>
        </ul>
    </div>
</ng-container>