/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

button:hover {
  cursor: pointer;
}

body{
  font-family: 'Rock Salt', cursive, sans-serif;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

