<app-header></app-header>
<main class="details">
  <div class="details__wrapper">
    <div class="details__thumbnail">
      <h1 class="details__title">{{ hero.name }}</h1>
      <img class="details__img" src="{{ hero.thumbnail.path }}.{{ hero.thumbnail.extension }}" alt="{{ hero.name }}" />
    </div>

    <div class="details__description-wrapper">
      <div class="details__description">
        <h2 class="details__subtitle">{{ description }}</h2>
        <p class="details__text">{{ hero.description }}</p>
      </div>

      <div class="details__comics">
        <h2 class="details__subtitle">{{ comicText }}</h2>
        <div class="details__wrapper-comics">
          <div class="details__container-img--loader" *ngIf="loadSvg">
              <img src='https://trello-attachments.s3.amazonaws.com/60755d2282c14f477515af94/6098e25224d83a589028906f/9f91fd00b4e57ecb3a95d2bc3812a41a/wolverine-7.gif' alt="Wolverine">
              <p>Loading...</p>
          </div>
          <div class="details__container-img" *ngIf="!loadSvg">
            <img *ngFor="let comic of comicList" src="{{ comic.thumbnail.path }}.{{ comic.thumbnail.extension }}" alt="Comic"
              class="details__comic-img" />
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>