*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: white;
}
/* HEADER */
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.canales{
    display: flex;
    margin: auto 3rem;
    text-decoration: none;
    color:  rgb(182, 38, 25);
    font-weight: bolder;
}

#marca{
    max-width: 15rem;
}

.user{
    display: flex;
    margin-right: 4rem;
}

.language{
    margin-right: 1rem;
}

.choose-language-button{
    padding: 0.5rem;
}

button{
    background-color: whited;
    border: 0.1rem solid black;
    border-radius: 10%;
    padding: 0.6rem;
}

#subs{
    background-color: rgb(182, 38, 25);
    color: white;
}

.nav{
    background-color: rgb(188, 39, 26);
    display: flex;
    justify-content: space-evenly;
    height: 4rem;
    align-items: center;
}

.main-links{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    width: 15rem;
    text-align: center;
}

.main-links:hover{
    background-color: rgb(240, 132, 122);
}

.flag{
    max-width: 1rem;
}

/* MAIN */
body {
font-family: Arial, Helvetica, sans-serif;
}

img {
width: 100%;
}

.wrapper {
width: 100%;
display: flex;
justify-content: center;
}

.section {
width: 80%;
display: grid;
grid-template-columns: 70% 30%;
padding: 2rem 0;
}

.left__img {
padding-right: 2rem;
}

.left__footer > small {
display: inline-block;
font-size: 1rem;
padding: 1rem 0;
}

.right__article {
display: flex;
padding-bottom: 2rem;
border-bottom: 1px solid black;
}

.right__img {
width: 14rem;
height: 8rem;
margin-right: 1rem;
}

.right__subtitle {
color: #79bbe5;
text-transform: uppercase;
font-size: 1.3rem;
margin-bottom: 1rem;
}

.right__paragraph {
font-size: 1.7rem;
font-weight: bold;
cursor: pointer;
}

.right__paragraph:hover {
color: gray;
}

/* CARDS */
.left__wrapCards {
display: flex;
flex-wrap: wrap;
}
.wrapCards {
width: 30rem;
height: 30rem;
margin-bottom: 5rem;
margin-left: 4rem;
border-bottom: 1px solid black;
}

.left__wrapCards img {
width: 30rem;
height: 17rem;
}

.wrapCard__quote {
font-size: 2rem;
font-weight: 600;
}

/* FOOTER */
.final-footer {
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 30rem;
}

.editorial {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    font-weight: bold;
}

.conditions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-self: center;
    margin: 1rem 5rem;
    
}

.internal-links {
    text-decoration: none;
    margin: 0.5rem 2rem;
    color: black;
}

.follow-us {
    display: flex;
    height: 10rem;
    align-items: center;
    flex-direction: column;
}

.footer-p {
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-weight: bold;
}

.fa {
    display: inline !important;
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
    display: inline;
    background: #55ACEE;
    color: white;
}

.fa-youtube {
    display: inline;
    background: #bb0000;
    color: white;
}

.fa-instagram {
    display: inline;
    background: #125688;
    color: white;
}

