* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.calculator {
  text-align: center;
  margin: auto;
  display: grid;
  width: 350px;
  height: 450px;
  border: 2px pblacklum solid; 
  grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
}

button:hover {
  background-color: rgb(248, 226, 244);
}

.screen {
  background-color: rgb(45, 50, 67);
  display: grid;
  grid-column: 1 / span 4;
  grid-row: 1/ span 2;
}

#total-val {
  display: grid;
  justify-content: right;
  align-items: baseline;
  padding-top: 10px;
  padding-right: 10px;
  color: white;
  background-color: rgb(45, 50, 67);
  grid-row: 1;
  font-size: 16px;
}

#current-num {
  display: grid;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(45, 50, 67);
  grid-row: 2;
}


.number {
  border: 1px black solid;
  background-color: rgb(221, 221, 221);
}

.operator {
  background-color: rgb(227, 147, 72);
  border: 1px black solid;
  grid-column: 4;
} 

.sp {
  background-color: rgb(227, 147, 72);
  border: 1px black solid;
  grid-column: 4;
}

#reset {
  background-color: rgb(221, 221, 221);
  grid-column: 1 / span 2;
  grid-row: 3;
}

#delete {
  background-color: rgb(221, 221, 221);
  grid-column: 3;
  grid-row: 3;
}

#num1 {
  grid-column: 1;
  grid-row: 6;
}

#num2 {
  grid-column: 2;
  grid-row: 6;
}

#num3 {
  grid-column: 3;
  grid-row: 6;
}

#num4 {
  grid-column: 1;
  grid-row: 5;
}

#num5 {
  grid-column: 2;
  grid-row: 5;
}

#num6 {
  grid-column: 3;
  grid-row: 5;
}

#num7 {
  grid-column: 1;
  grid-row: 4;
}

#num8 {
  grid-column: 2;
  grid-row: 4;
}

#num9 {
  grid-column: 3;
  grid-row: 4;
}

#dot {
  grid-column: 3;
  grid-row: 7;
}

#num0 {
  grid-column: 1 / span 2;
  grid-row: 7;
}

#add {
  grid-row: 6;
}

#sub {
  grid-row: 5;
}

#div {
  grid-row: 3;
}

#equal {
  grid-row: 7;
}

#mult {
  grid-row: 4;
}