<form (ngSubmit)= "onSubmit()" #productForm="ngForm">
<div class="form-group">
    <label for="name">Nombre del producto</label>
    <input type="text" class="form-control" id="name"

           [(ngModel)]="model.name" name="name"
           #name="ngModel">
</div>
<div class="form-group">
    <label for="price">Precio</label>
    <input type="number" class="form-control" id="price"
           [(ngModel)]="model.price" name="price"
           #price="ngModel">
</div>
<button type="submit">SUBMIT</button>
</form>

<ul>
    <li *ngFor= "let item of products"> Name: {{item.name}} : {{item.price}} <button (click)="addToTheBasket(item)">ADD</button></li>
</ul>