* {
    font-family: 'Balsamiq Sans';
    color: white;
}


.game {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgb(46, 122, 241), rgb(67, 160, 245), rgb(46, 122, 241));
    justify-content: space-around;
    align-items: center;
}

.screenone {
    display: flex;
    height: 95vh;
    width: 45vw;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.rosco {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60vh;
    width: 60vh;
    border-radius: 50%;
    position: relative;
}

.letter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 0;
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    position: absolute;
    border: 1px solid black;
}

.unanswered {
    background-color:rgb(16, 79, 240);
}

.inuse {
    background-color:rgb(68, 188, 236);
}

.correct {
    background-color:rgb(82, 178, 74);
}

.incorrect {
    background-color:rgb(230, 51, 89);
}

.letter:nth-child(1){
    transform: translateY(-30vh);
}

.letter:nth-child(2){
    transform: rotate(13.3deg) translateY(-30vh) rotate(-13.3deg);
}

.letter:nth-child(3){
    transform: rotate(26.6deg) translateY(-30vh) rotate(-26.6deg);
}

.letter:nth-child(4){
    transform: rotate(39.9deg) translateY(-30vh) rotate(-39.9deg);
}

.letter:nth-child(5){
    transform: rotate(53.2deg) translateY(-30vh) rotate(-53.2deg);
}

.letter:nth-child(6){
    transform: rotate(66.5deg) translateY(-30vh) rotate(-66.5deg);
}

.letter:nth-child(7){
    transform: rotate(79.8deg) translateY(-30vh) rotate(-79.8deg);
}

.letter:nth-child(8){
    transform: rotate(93.1deg) translateY(-30vh) rotate(-93.1deg);
}

.letter:nth-child(9){
    transform: rotate(106.4deg) translateY(-30vh) rotate(-106.4deg);
}

.letter:nth-child(10){
    transform: rotate(119.7deg) translateY(-30vh) rotate(-119.7deg);
}

.letter:nth-child(11){
    transform: rotate(133deg) translateY(-30vh) rotate(-133deg);
}

.letter:nth-child(12){
    transform: rotate(146.3deg) translateY(-30vh) rotate(-146.3deg);
}

.letter:nth-child(13){
    transform: rotate(159.6deg) translateY(-30vh) rotate(-159.6deg);
}

.letter:nth-child(14){
    transform: rotate(172.9deg) translateY(-30vh) rotate(-172.9deg);
}

.letter:nth-child(15){
    transform: rotate(186.2deg) translateY(-30vh) rotate(-186.2deg);
}

.letter:nth-child(16){
    transform: rotate(199.5deg) translateY(-30vh) rotate(-199.5deg);
}

.letter:nth-child(17){
    transform: rotate(212.8deg) translateY(-30vh) rotate(-212.8deg);
}

.letter:nth-child(18){
    transform: rotate(226.1deg) translateY(-30vh) rotate(-226.1deg);
}

.letter:nth-child(19){
    transform: rotate(239.4deg) translateY(-30vh) rotate(-239.4deg);
}

.letter:nth-child(20){
    transform: rotate(252.7deg) translateY(-30vh) rotate(-252.7deg);
}

.letter:nth-child(21){
    transform: rotate(266deg) translateY(-30vh) rotate(-266deg);
}

.letter:nth-child(22){
    transform: rotate(279.3deg) translateY(-30vh) rotate(-279.3deg);
}

.letter:nth-child(23){
    transform: rotate(292.6deg) translateY(-30vh) rotate(-292.6deg);
}

.letter:nth-child(24){
    transform: rotate(305.9deg) translateY(-30vh) rotate(-305.9deg);
}

.letter:nth-child(25){
    transform: rotate(319.2deg) translateY(-30vh) rotate(-319.2deg);
}

.letter:nth-child(26){
    transform: rotate(332.5deg) translateY(-30vh) rotate(-332.5deg);
}

.letter:nth-child(27){
    transform: rotate(345.9deg) translateY(-30vh) rotate(-345.9deg);
}

.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    width: 50vh;
    height: 20vh;
}

h3 {
    font-size: 5vh;
}

.time {
    font-size: 7vh;
}

.screentwo{
    display: flex;
    height: 95vh;
    width: 45vw;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   
}

.title {
    font-family: 'Balsamiq Sans';
    font-weight: bold;
    font-size: 8vh;
    color: white;
}

.info, .question, .ranking, .winner {
    display: flex;
    flex-direction: column;
    font-size: 3vh;
}

.round {
    display: none;
    flex-direction: column;
}

.letter-in-use {
    font-size: 5vh;
}

.ranking {
    display: none;
}

.winner {
    display: none;
}

#champion {
    font-size: 5vh;
}

span {
    align-self: center;
}

.play {
    font-size: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    color: black;
}

button {
    font-size: 2vh;
    color: black;
}

button:hover {
    background-color:rgb(16, 79, 240);
    cursor: pointer; 
    color: white;
}

.getanswer {
    display: none;
}

.tryagain {
    display: none;
}