<div class="main-container">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Name: {{characterDetails.name}}</mat-card-title>
            <mat-card-subtitle>Specie: {{characterDetails.species}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src='{{characterDetails.image}}' alt="Photo of the character">
        <mat-card-content class="container">
            <div>
                <p>
                    Gender: {{characterDetails.gender}} <br>
                    Origin: {{characterDetails.origin.name}} <br>
                    Location: {{characterDetails.location.name}} <br>
                    Status: {{characterDetails.status}}
                </p>
            </div>
            <div>
                <mat-card-actions>
                  <button mat-button (click)="changeFavicon()"><i class="far fa-star fav"></i></button>
                </mat-card-actions>
            </div>
      </mat-card-content>
    </mat-card>
</div>
