* {
    background-color: rgb(60, 62, 68);
    color: white;
}

.fav {
  color: rgb(230,160,78);
}

.container {
    display: flex;
    justify-content: space-around;
}

.example-header-image {
  background-image: url();
  background-size: cover;
}

.example-card {
    max-width: 400px;
}

  @media only screen and (min-width: 800px) {

     .main-container {
        display: flex;
        justify-content: center;
    }

      .container{
          display: flex;
          justify-content: space-around;
      }

      .example-header-image {
        display: none;
      }
   
  }
  
