.profile {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding-top: 5rem;

  &__image {
    width: 18rem;
    border: 5px solid white;
    border-radius: 50%;
    background-color: white;
  }

  &__subtitle {
    font-weight: 300;
    font-size: 2.5rem;
    color: $brand-100;
    padding-top: 3rem;
  }

  &__about {
    padding-top: 1rem;
    line-height: 2rem;
    color: $text;
    font-weight: 300;
    font-size: 1.4rem;
    letter-spacing: 1.5px;
  }
}

.contact {
  width: 80%;
  text-align: center;
  padding-bottom: 5rem;
  margin: 0 auto;

  &__subtitle {
    font-weight: 300;
    color: $brand-100;
    padding-bottom: 1rem;
  }

  &__addres,
  &__telephone,
  &__mobile,
  &__email,
  &__social {
    font-weight: 300;
    color: $text;
    padding-bottom: 1.5rem;
  }

  &__addres-span,
  &__telephone-span,
  &__mobile-span,
  &__email-span,
  &__social-span {
    margin-left: 0.5rem;
  }

  &__social {
    display: flex;
    justify-content: space-evenly;
  }

  &__link {
    font-size: 2rem;
  }
}
