// FONT
$main-font: "Roboto", sans-serif;

// TEXT COLORS
$brand-100: hsl(201, 49%, 43%);
$brand-200: hsl(0, 0%, 94%);
$title-color: rgb(49, 49, 49);
$text: rgb(99, 98, 98);
$span-date: rgb(172, 172, 172);

//Responsive Variables.
$breakpoints: (
  small: 375px,
  medium: 768px,
  large: 1020px,
  xlarge: 1200px,
  xxlarge: 1440px,
);

//Responsive Function
@mixin rwd($bp) {
  @if map-has-key($breakpoints, $bp) {
    @media screen and (min-width: map-get($breakpoints, $bp)) {
      @content;
    }
  } @else {
    @media screen and (min-width: $bp) {
      @content;
    }
  }
}
