*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font: {
    size: 1.4rem;
    family: $main-font;
  }
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: $text;
}

img {
  width: 100%;
}
