input:required:valid {
    /* insert your own styles for invalid form input */
    background-color: green;
  }

  input:required:invalid {
    /* insert your own styles for invalid form input */
    background-color: red;
  }