*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font: {
    size: 2.6rem;
    weight: 100;
    family: $main-font;
  }
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

button {
  cursor: pointer;
  border: 1px solid $brand-400;
  background-color: $brand-200;
  outline: none;
  transition: all 200ms ease;
  font: {
    size: 2.2rem;
    weight: 300;
  }

  &:hover {
    opacity: 0.6;
  }
}
