*{
    font-family: sans-serif;
    font-size: large;
}

div{
    border-radius: 5px;
}

button{
    width: 50px;
    height: 50px;
}

.calculator{
    background-color: rgb(128 139 154);
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    justify-content: space-evenly;
}

.screen{
    color: rgb(7, 223, 7);
    display: flex;
    word-wrap: break-word;
    flex-direction: row-reverse;
    overflow-y: scroll;
    font-size: x-large;
    background-color: rgb(39, 37, 13);
    margin-left: 10%;
    margin-right: 10%;
    height: 60px;
}

.number{
    color: white;
    background-color: rgb(70, 64, 64);
}

.buttonBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line{
    display: flex;
    justify-content: center;
    width: 200px;
}    


#reset{
    flex-grow: 1;
}

#equal{
    flex-grow: 1;
}

