* {
    font-family: sans-serif;
}

h1 {
    font-size: xx-large;
    color: white;
    background-color: red;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: red;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 0.5em;
}

a {
    color: white;
}

.principal {
    border: 5px solid;
    height: 450px;
    margin-top: 10px;
    border: white;
}

.left {
    position: absolute;
    height: 300px;
    width: 500px;
    margin: 100px 100px;
    border: 2px solid white;
    left: 10px;
    top: 100px;
}

.right {
    position: absolute;
    height: 300px;
    width: 500px;
    margin: 100px 100px;
    border: 2px solid white;
    right: 10px;
    top: 100px;
}

.pie {
    background-color: silver;
    color: black;
    display:flex;
    position: absolute;
    bottom: 0;
}

.publi {
    position: absolute;
    z-index: 1; 
    left: 15px;
    bottom: 60px;
}

.publidcha {
    position:absolute;
    right: 0;
}
