h1 {
  color: rgb(156, 156, 156);
}

button {
  background-color: rgb(238, 238, 238);
  color: rgb(77, 159, 227);
}

button:hover {
  background-color: rgb(161, 139, 139);
  color: white;
}

#mainName {
  font-size: 4rem;
  color:white;
  background-color: rgb(156, 156, 156);;
}

.main__div--id {
    font-size: 2rem;
    color: rgb(156, 156, 156);
}

.main__div--name {
    font-size: 2rem;
    color: rgb(156, 156, 156);
}
