* {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form {
    background-color: cyan;
}

input:required:invalid {

    background-color: red;
    
}

input:required {
    border-color: rgb(84, 238, 13);
}
