<main class="grid__container">
    <div class="container__data" *ngFor="let home of realState">
        <div>
            <img src="{{home.attributes.field_inmu_imag_arra[0]}}" alt="Home">
            <p>{{home.attributes.field_inmu_prec | number}} €</p>
            <p>Piso en {{home.attributes.field_inmu_tipo_via}} {{home.attributes.field_inmu_nomb_call}} {{home.attributes.field_inmu_area_cons | number}}</p>
            <p>{{home.attributes.field_inmu_pobl}}</p>
        </div>
    </div>
</main>
<div class="container__button">
    <button (click)="showMore()">Mostrar más</button>
</div>
    <!-- <button (click)="prevPage()">prev</button>
    <button (click)="nextPage()">next</button> -->
