<body class="main__container">
    <div class="container__data" *ngFor="let home of realState">
        <figure class="data__img">
            <img src="{{home.attributes.field_inmu_imag_arra[0]}}" alt="Home">
        </figure>
        <div class="data__price">
            {{home.attributes.field_inmu_prec}} €
        </div>
        <div class="data__address">
            {{home.attributes.field_inmu_tipo_via}} {{home.attributes.field_inmu_nom_call}}
        </div>
        <div class="data__city">
            {{home.attributes.field_inmu_pobl}}
        </div>
        <div class="data__features">
            <i class="fas fa-pencil-ruler"></i>
            <div>{{home.attributes.field_inmu_area_cons}}</div>
            <em class="fas fa-bed"></em>
            <div>{{home.attributes.field_inmu_nume_habi}}</div>
        </div>
    </div>
</body>