<p>HOLA</p>
<input type="text" #newTaskInput />
<button type="button" (click)="addTask(newTaskInput.value); newTaskInput.value='' ">add</button>

<ng-container *ngIf="(fetchTasks$ | async) as tasks">
    <ul>
        <li *ngFor="let task of tasks">
            <p>{{task.description}}</p>
            <button type="button" (click)="delete(task._id)">delete</button>
            <button type="button" (click)="update(task._id, newTaskInput.value); newTaskInput.value='' ">update</button>
        </li>
    </ul>
</ng-container>