@import './../../styles.scss';
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.main__container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(248,248,248);
    justify-content: center;
 
}

.container__data {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
    background-color: white;
    

    & div{
        
        display: flex;
    }
    
}

.data__img {
   width: 280px;
   height: 180px;
   
}

.data__price {
    padding-left: 15px;
    color: $colorCard;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 800;
    margin-top: 5px;
    margin-bottom: 5px;
}

.data__address {
    padding-left: 15px;
    font-family: 'Nunito', sans-serif;
    color: $colorCard;
    font-weight: 600;
    font-size: 20px;
}

.data__city {
    padding-left: 15px;
    font-family: 'Nunito', sans-serif;
    color: $colorCard;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 20px;
}

.data__features {
    flex-direction: row;
    margin-right: 5px;
    display: inline;
    justify-content: space-around;
    margin-top: 5px;
    margin-bottom: 5px;
  
}

.container__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(248,248,248);

    & button {
        width: 100%;
    max-width: 140px;
    height: 46px;
    font-size: 14px;
    font-family: 'Nunito',sans-serif;
    font-weight: 600;
    background-color: #f25c0f;
    border-radius: 24px;
    color: white;
    border: none;
    text-align: center;
    margin: 30px 0;
    transition: opacity 200ms ease-in;
    cursor: pointer;
    }

    & button:hover {
        opacity: 0.85;
    
    }
}