.footer-container {
  width: 100%;
  &__info {
    background-color: $bg-footer-info;
    padding-bottom: 8rem;

    @include rwd(large) {
      display: none;
    }
  }

  &__info-details {
    width: 50%;
    padding: 8rem 0 3rem;
    margin: 1rem auto 0;
  }

  &__info-title,
  &__info-description {
    color: $white;
    text-align: center;
  }

  &__info-title {
    font-size: 2.2rem;
    padding-bottom: 1rem;
  }

  &__info-description {
    font-size: 1.4rem;
    color: $color-icon;
    line-height: 2rem;
  }

  &__info-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15rem;
  }

  &__wrap-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__info-img {
    width: 18rem;
    height: 9rem;
  }
}
