<main>
    <div *ngFor="let flat of results$">
            <div class="flatCard">
                <img src="{{flat.attributes.field_inmu_imag_arra[0]}}" alt="Foto de la casa">
                <h3>{{flat.attributes.field_inmu_prec}}</h3>
                <h4>{{flat.attributes.field_inmu_tipo_sin_agru}}</h4>
                <h5>{{flat.attributes.field_inmu_tipo_via}} {{flat.attributes.field_inmu_nomb_call}}</h5>
            </div>
    </div>
</main>
<button type="button" (click)="getNextPage()">Mostrar más</button>


