<h1 class="header">Lista de tareas para hacer</h1>

<form class="form" #form="ngForm" (ngSubmit)="onSubmit(form)">
  <input name="tarea" ngModel  #tarea="ngModel" placeholder="introduce la tarea">
  <input name="responsable" ngModel #responsable="ngModel" placeholder="¿quién la hara?">
  <input type="date" name="date" ngModel #date="ngModel">
  <select name="status" ngModel #status="ngModel">
    <option *ngFor="let option of taskStatus;let i =index"[value]="i" >{{option}}</option>
  </select>
  <button>Añadir tarea</button>
</form>
<h2 class="subHeader">Tu lista</h2>
<ul class="list">
  <li *ngFor="let tarea of tareas; let i = index">
    Tarea: {{ tarea.tarea}}, Responsable: {{tarea.responsable}}, Fecha: {{tarea.date}}, Estado: {{tarea.status}}
    <button class="remove" (click)="delete(i)">Borrar</button>
    <button class="modify">Modificar</button>
  </li>
  
</ul>


