/* You can add global styles to this file, and also import other style files */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font: {
    size: 1.6rem;
    family: 'Rock Salt';
  }
}
