
.calculator {
  display: grid;
  text-align: center;
  margin: auto;
  background-color: grey;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(7, 100px);
  height: 700px ;
  width: 400px;
  
}

.pantalla{
  display: grid;
  font-weight: bold;
  background-color: greenyellow;
  grid-area: 1 / 1 / span 2 / span 4;
  
}  

.number {
  font-weight: bold;
  background-color: grey;
}

.operator {
  font-weight: bold;
  background-color:orange;
}

.other {
  font-weight: bold;
  background-color: rgb(235, 46, 118);
}

#n1 {
  grid-area: 6 / 1;
}

#n2 {
  
  grid-area: 6 / 2;
}

#n3 {
  grid-area: 6 / 3;
}

#n4 {
  grid-area: 5 / 1;
}

#n5 {
  grid-area: 5 / 2;
}

#n6 {
  grid-area: 5 / 3;
}

#n7 {
  grid-area: 4 / 1;
}

#n8 {
  grid-area: 4 / 2;
}

#n9 {
  grid-area: 4 / 3;
}

#n0 {
  grid-column: 1 / span 2;
  grid-row: 7; 
}

#reinicio {
  grid-column: 1 / span 2;
  grid-row: 3;
}

#borrado {
  grid-area: 3 / 3;
}

#suma {
  grid-area: 3 / 4;
}

#resta {
  grid-area: 4 / 4;
}

#mult {
  grid-area: 5 / 4;
}

#div {
  grid-area: 6 / 4;
}

#punto{
  grid-area: 7 / 3;
}

#igual{
  grid-area: 7 / 4;

}

#display-number {
  
  grid-row: 1;
  align-items: baseline;
  justify-items: baseline;
  text-align: left;
}


#resultadoScreen {
  
  font-size: 40px;
  grid-row: 2;
  text-align: right;
  align-items: baseline;
}

