img {
    min-width: 300px;
}
li{
    background-color: lightgray;
    margin-top: 2rem;
    font-size: 3rem;
    list-style: none;
}
li:hover{
    background-color: lightskyblue;
    cursor:pointer
}
button:hover{
    background-color: lightseagreen;
    cursor: pointer
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container--data{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

