img {
    min-width: 300px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container--data{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

