img {
    min-width: 300px;
}
li{
    background-color: lightgray;
    margin-top: 2rem;
    font-size: 3rem;
    list-style: none;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container--data{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

