<header class="nav-bar">
    <span class="nav-bar__logo">
        <img class="nav-bar__marvel-icon" src="https://cdn.iconscout.com/icon/free/png-512/marvel-282124.png" alt="marvel icon">
    </span>
    <nav class="nav-bar__anchors">
        <a class="nav-bar__link" routerLink="/dashboard">HOME
            <i class="nav-bar__icon fas fa-globe-americas"></i>
        </a>
        <a class="nav-bar__link" routerLink="/list">CHARACTERS
            <i class="nav-bar__icon fas fa-users"></i>
        </a>
        <a class="nav-bar__link" routerLink="/favorites">FAVORITES
            <i class="nav-bar__icon fas fa-bookmark"></i>
        </a>
        <a class="nav-bar__link" routerLink="/options">OPTIONS
            <i class="nav-bar__icon fas fa-cog"></i>
        </a>
        <a class="nav-bar__link" routerLink="/login">LOGIN
            <i class="nav-bar__icon fas fa-user-circle"></i>
        </a>
    </nav>
</header>
