<header class="nav-bar">
    <span class="nav-bar__logo">
        <img class="nav-bar__marvel-icon" src="https://cdn.iconscout.com/icon/free/png-512/marvel-282124.png"
            alt="marvel icon">
    </span>
    <nav class="nav-bar__anchors">
        <a class="nav-bar__link" routerLink="/">{{'home' | translate}}
            <em class="nav-bar__icon fas fa-globe-americas"></em>
        </a>
        <a class="nav-bar__link" routerLink="/list">{{'characters' | translate}}
            <em class="nav-bar__icon fas fa-users"></em>
        </a>
        <a class="nav-bar__link" routerLink="/favorites">{{'favorites' | translate}}
            <em class="nav-bar__icon fas fa-bookmark"></em>
        </a>
        <a class="nav-bar__link" routerLink="/options">{{'options' | translate}}
            <em class="nav-bar__icon fas fa-cog"></em>
        </a>
        <a class="nav-bar__link" routerLink="/login">{{'login' | translate}}
            <em class="nav-bar__icon fas fa-user-circle"></em>
        </a>
    </nav>
</header>