@import "./base/_base.scss";
@import "./base/_normalize.scss";
@import "./base/_reset.scss";
@import "./header/_navbar.scss";
@import "./main/_main-container-slider.scss";
@import "./main/_main-container-banner.scss";
@import "./main/_main-container-rows.scss";
@import "./footer/_footer-container-info.scss";
@import "./footer/_footer-container-all-rights.scss";
@import "./footer/_footer-container-navbar.scss";
