$deg: -14.5rem;

#a {
  transform: translateY($deg);
}
#b {
  transform: rotate(14deg) translateY($deg) rotate(-14deg);
}
#c {
  transform: rotate(28deg) translateY($deg) rotate(-28deg);
}
#d {
  transform: rotate(42deg) translateY($deg) rotate(-42deg);
}
#e {
  transform: rotate(56deg) translateY($deg) rotate(-56deg);
}
#f {
  transform: rotate(70deg) translateY($deg) rotate(-70deg);
}
#g {
  transform: rotate(84deg) translateY($deg) rotate(-84deg);
}
#h {
  transform: rotate(98deg) translateY($deg) rotate(-98deg);
}
#i {
  transform: rotate(112deg) translateY($deg) rotate(-112deg);
}
#j {
  transform: rotate(126deg) translateY($deg) rotate(-126deg);
}
#k {
  transform: rotate(140deg) translateY($deg) rotate(-140deg);
}
#l {
  transform: rotate(154deg) translateY($deg) rotate(-154deg);
}
#m {
  transform: rotate(168deg) translateY($deg) rotate(-168deg);
}
#n {
  transform: rotate(182deg) translateY($deg) rotate(-182deg);
}
#o {
  transform: rotate(196deg) translateY($deg) rotate(-196deg);
}
#p {
  transform: rotate(210deg) translateY($deg) rotate(-210deg);
}
#q {
  transform: rotate(224deg) translateY($deg) rotate(-224deg);
}
#r {
  transform: rotate(238deg) translateY($deg) rotate(-238deg);
}
#s {
  transform: rotate(252deg) translateY($deg) rotate(-252deg);
}
#t {
  transform: rotate(266deg) translateY($deg) rotate(-266deg);
}
#u {
  transform: rotate(280deg) translateY($deg) rotate(-280deg);
}
#v {
  transform: rotate(293deg) translateY($deg) rotate(-293deg);
}
#w {
  transform: rotate(307deg) translateY($deg) rotate(-306deg);
}
#x {
  transform: rotate(321deg) translateY($deg) rotate(-318deg);
}
#y {
  transform: rotate(334deg) translateY($deg) rotate(-332deg);
}
#z {
  transform: rotate(347deg) translateY($deg) rotate(-346deg);
}
