<div class="container">
    <div class="container--headimg">
        <img class="container--headimg" src="https://trello-attachments.s3.amazonaws.com/60755d2282c14f477515af94/60984f23c7019f6710fbc2d6/c6c3da6f299efa4cab13cefa2a596071/ram-list1.jpg" alt="image header">
    </div>
    <div class="container--cards">
        <ul>
            <li *ngFor="let character of ram$ | async" (click)="sendToDetail(character)" class="list__item">
                <div class="cards--character">
                    <img src="{{character.image}}" alt="image character">
                    <div class="character--details">
                        <div class="character--span" id="character--span">
                        <span>{{character.name}}</span>
                        </div>
                        <div class="character--display">
                            <div class="character__display--status">
                                <span>Status: {{character.status}}</span>
                            </div>
                            <span>Location: {{character.origin.name}}</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>  
    <div class="container--button">
        <button
            [disabled]="!prevUrl" 
            class="button--previous"
            (click) = "chargePage(prevUrl)">
          Previous
        </button>

        <button
            [disabled]="!nextUrl" 
            class="button--next"
            (click) = "chargePage(nextUrl)">
          Next
        </button>
    </div>
</div>
