/*
GLOBAL VARIABLES FOR CSS
*/
* {
  font-family: "Press Start 2P", cursive;
}

.header__name {
  background-color: #f3df75;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5%;
  border: 2px solid #928023;
  -webkit-box-shadow: 7px 7px 15px #928023;
          box-shadow: 7px 7px 15px #928023;
  text-shadow: 2px 2px 2px #616015;
}

.main__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f3df75;
  -webkit-box-shadow: 7px 7px 15px #928023;
          box-shadow: 7px 7px 15px #928023;
}

.main__photo, .main__contact, .main__achievments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

.main__info--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 3%;
  text-shadow: 2px 2px 2px #616015;
}

.main__info--left {
  background-color: #f3df75;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5%;
  border: 2px solid #928023;
}

/* ELEMENT'S 
SELECTORS */
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1 {
  color: #616015;
}

h3 {
  color: #4c4136;
}

img {
  width: 60%;
  -webkit-box-shadow: 7px 7px 15px #928023;
          box-shadow: 7px 7px 15px #928023;
}

a {
  text-decoration: none;
  color: #4c4136;
  display: block;
}

body {
  height: 100%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*MEDIA 
QUERY*/
@media screen and (max-width: 400px) {
  body {
    height: 100%;
  }
  img {
    width: 100%;
  }
  .main__info--right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 7%;
  }
}

@media screen and (max-width: 400px) {
  .main__info--right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 7%;
  }
}
/*# sourceMappingURL=main.css.map */