header{
  display: flex;
  flex-direction: column;
  background-color: rgb(235, 28, 28);
  margin-top: 3%;
}



nav{
  padding: 15px;
}

a{
  color: white;
  text-decoration: none;
}

button{
  height: 100%;
  background-color: rgb(218, 25, 25);
  color: rgb(248, 244, 244);
}

main{
  display: flex;
  justify-content: space-between;
}

#nav1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.hola{
background-color: red;
}

#nav2{
  display: flex;
  justify-content: space-between;
  background-color: rgb(235, 28, 28);
}

.a1{
  font-size: large;
  color: rgb(235, 28, 28);
}

#ancor{
  color: rgb(235, 28, 28);
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}


#sec1{
  font-size: large;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color:rgb(172, 149, 149);
  width: 30%;
  left: 10px;
}

.logo{
height: 100px;
width: 400px;
}

#logo{
  color: rgb(235, 28, 28);
  display: block;
  margin-right: 100px;
  width: 200px;
  height: 100px;
}

form{
  color: white;
}

.footer {
  background-color: rgb(238, 238, 238);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 30rem;
}

.editorial {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
  font-weight: bold;
}

.conditions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-self: center;
  margin: 1rem 5rem;
}

.internal-links {
  text-decoration: none;
  margin: 0.5rem 2rem;
  color: black;
}

.follow-us {
  display: flex;
  height: 10rem;
  align-items: center;
  flex-direction: column;
}

.footer-p {
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-weight: bold;
}

.fa {
  display: inline !important;
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-twitter {
  display: inline;
  background: #55acee;
  color: white;
}

.fa-youtube {
  display: inline;
  background: #bb0000;
  color: white;
}

.fa-instagram {
  display: inline;
  background: #125688;
  color: white;
}

article{
    width: auto;
    display: flex;
    justify-content: center;
}

.laliga{
    width: 435.19px;
    height: 400px;
}

.mid{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

