.dashboard{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(60, 62, 66);
}
.dashboard__main-pic {
    background-image: url('https://culturageek.com.ar/wp-content/uploads/2020/07/Rick-and-morty.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 20rem;
    width: 100%;
} 

.dashboard__title{
    background-color: rgb(60, 62, 66);
    color:rgb(255, 152, 0);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    text-align: center;
}

.img-container__a{
    display: flex;
}

.dashboard__img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(60, 62, 66);
   
}
.images{
    border-radius: 5%;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    object-fit: none;
}
#a1 , #a3 {
    margin-left: 0;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 18rem;
    .images{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}
#a2 , #a4 {
    margin-right: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 18rem;
    .images{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}
@media only screen and (min-width:800px) {
    .dashboard__title{
        font-size: 2.2rem;
        padding-top: 2rem;
        padding-bottom: none;
    }
    .dashboard__main-pic {
    background-image: url('https://culturageek.com.ar/wp-content/uploads/2020/07/Rick-and-morty.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 40rem;
    width: 100%;
} 
    
    .dashboard__img-container{
        display: flex;
        flex-direction: row;
       justify-content: space-around;
       padding-left: 4rem;
       padding-right: 4rem;
       padding-top: 5rem;
       padding-bottom: 5rem;
        .images{
            border-radius: 11%;
            width: auto;
            height: auto;
            object-fit: unset;
            padding-top: 0;
            padding-bottom: 0;
            padding: auto;
            border: 0.4rem solid transparent
        }
        .images:hover {
            border: 0.4rem solid rgb(255, 152, 0);
            transform: scale(1.5);
            cursor: pointer;

        }
    }
    #a1 , #a3 {
        margin-left: auto;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 22rem;

        .images{
            border-top-left-radius: 11%;
            border-bottom-left-radius: 11%;
        }
    }
    #a2 , #a4 {
        margin-right: auto;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 22rem;
        .images{
            border-top-right-radius: 11%;
            border-bottom-right-radius: 11%;
        }
    }
}





