<main>
    <p>dashboard works!</p>
        <div class='dashboard__main-pic'>
        </div>
        <div class="dashboard__img-container">   
        <a href="">
        <img class="images" src="https://trello-attachments.s3.amazonaws.com/60984f23c7019f6710fbc2d6/1200x800/e3afd845444142d105e0243ac2890a10/rick-profilepic.jpg">
        </a> 
        <a href="">
            <img class="images" src="https://trello-attachments.s3.amazonaws.com/60984f23c7019f6710fbc2d6/236x262/b363e0a24babaaaac41b68f62a14b875/summer-profilepic.jpg">
        </a>
        <a href="">
            <img class="images" src="https://trello-attachments.s3.amazonaws.com/60984f23c7019f6710fbc2d6/564x837/0b2a7e93b1498a86618c35979df2fa2e/morty-profilepic.jpg">
        </a>  
        <a href="">
            <img class="images" src="https://trello-attachments.s3.amazonaws.com/60984f23c7019f6710fbc2d6/304x538/324052a58bbea3ecb3c15a0547361cd9/beth-profilepic.png">
        </a>
        </div>
</main>
<p>dashboard works!</p>
<!-- <h1 *ngFor="let character of ram">{{character.name}}</h1> -->

