@import"variables.scss";
@import"mixins.scss";





section{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    padding: 3%;
    width: 100%;
}

main{
    display: flex;
    
}



h2{
    align-items: center;
}

/*ID´S*/

#principal{
    padding: 1%;
    background-color: #b5bfdb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
   
}

#secundario{
    padding: 1%;
    background-color: #edffec;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
}

#img_principal{
    background-color: #b5bfdb;
    width: 40%;
    padding: 2%;
    text-align: center;
}

/*CLASS*/

.column{
    
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}


