<main class="main__container">
    <div class="container__izq">
        <div class="izq__data" *ngFor="let data of personalData">
            
            <img class="data__img" src="{{data.img}}" alt="Stan Lee">
            <p>Name: {{data.name}}</p>
            <p>Surname: {{data.surname}}</p>
            <p>☎️: {{data.phone}}</p>
            <p>🏠: {{data.address}} </p>
            <p>📧: {{data.email}} </p>
            <p><i class="fab fa-linkedin"></i></p>
        </div>
        <div class="izq__about" *ngFor="let data of aboutMe">
            <h2>Description</h2>
            <p>{{data.description}}</p>
        </div>
    </div>
    <div class="container__dcha">
        <div class="dcha__exp" *ngFor="let data of experienceList">
            <h2>Experience</h2>
            <p>Company: {{data.company}}</p>
            <p>Date: {{data.date}}</p>
            <p>Position: {{data.position}}</p>
        </div>
        <div class="dcha__skills" *ngFor="let skill of skillList">
            <h2>Skills</h2>
            <p><i class="fab fa-html5"></i> {{skill.html}}</p>
            <p><i class="fab fa-css3"></i>  {{skill.css}}</p>
            <p><i class="fab fa-js"></i>  {{skill.javascript}}</p>
            <p><i class="fab fa-python"></i>  {{skill.python}}</p>
            <p><i class="fab fa-angular"></i>  {{skill.angular}}</p>
            <p><i class="fab fa-node-js"></i> {{skill.nodejs}}</p>
            <p><i class="fas fa-database"></i> {{skill.mongoDB}}</p>
        </div>
    </div>
</main>

