<main class="main__container">
    <div class="container__left">
        <div class="left__data" *ngFor="let data of personalData">
            
            <img class="data__img" src="{{data.img}}" alt="Stan Lee">
            <p>Name: {{data.name}}</p>
            <p>Surname: {{data.surname}}</p>
            <p>☎️: {{data.phone}}</p>
            <p>🏠: {{data.address}} </p>
            <p>📧: {{data.email}} </p>
            <p><em class="fab fa-linkedin"></em></p>
        </div>
        <div class="left__about" *ngFor="let data of aboutMe">
            <h2>Description</h2>
            <p>{{data.description}}</p>
        </div>
    </div>
    <div class="container__right">
        <div class="right__exp" *ngFor="let data of experienceList">
            <h2>Experience</h2>
            <p>Company: {{data.company}}</p>
            <p>Date: {{data.date}}</p>
            <p>Position: {{data.position}}</p>
        </div>
        <div class="right__skills" *ngFor="let skill of skillList">
            <h2>Skills</h2>
            <p><em class="fab fa-html5"></em> {{skill.html}}</p>
            <p><em class="fab fa-css3"></em>  {{skill.css}}</p>
            <p><em class="fab fa-js"></em>  {{skill.javascript}}</p>
            <p><em class="fab fa-python"></em>  {{skill.python}}</p>
            <p><em class="fab fa-angular"></em>  {{skill.angular}}</p>
            <p><em class="fab fa-node-js"></em> {{skill.nodejs}}</p>
            <p><em class="fas fa-database"></em> {{skill.mongoDB}}</p>
        </div>
    </div>
</main>

