*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
    font-size: xx-large;
    color: darksalmon;
    align-content: center;
    background-color: rgb(87, 66, 146);
}

html {
  font-size: 62.5%;
}
body {
    size: 2.4rem;
    font-family: sans-serif;   
}
table{
    border: 4px solid red;
}

section{
    background-color: rgb(210, 202, 233)
}

nav{
    padding: 10px;
    background-color: rgb(102, 120, 158);
}

img{
    display: block;
    width: auto;
    height: auto;
    max-width: 500px;
    max-height: 500px;
}

footer{
    padding: 10px;
    background-color: cornflowerblue;
}

#general{
    margin-right: 0%;
    background-color: rgb(200, 197, 211);
    display: flex;
    flex-direction: column;
    
}

#publi{
    width: 20%;
    background-color: rgb(253, 253, 255);
    
    height: 400px;
}

#main{
    display: flex;
    height: 400px;
    width: 80%;
    flex-direction: row;
}

