header {
    display: flex;
    justify-content: space-around;
    background-color: rgb(37, 40, 45);
    color: rgb(255, 255, 255);
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 8%;
    align-items: center;
    font-family: 'Rock Salt';
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    font-size: 1.6rem;
    z-index: 3;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.header__logo{
    display: none;
    padding-left: 1rem;
}

.header__anchors {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.header__anchor--text{
    display: none;
}

.header__search {
    display: none;
}

.header__logIn{
   display: flex;
   width: 25%;
   justify-content: center;
}
.fa-home{
    font-size: 2.5rem;
}
.fa-list-ul{
    font-size: 2.5rem;
}
.fa-star{
    font-size: 2.5rem;
}
.fa-user{
    font-size: 2.5rem;
}
/* 
STYLE FOR LOG IN MODAL
*/



button{
    width: 17.5rem;
    margin-left: 12rem;
    margin-top: 1rem;
}

.formlogin{
   position: absolute;
   width: 100vw;
   height: 193vh;
   background-color: white;
}
.formlogin__div--form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    background-color: rgb(60, 62, 68);
    border-top-left-radius: 54px;
    border-top-right-radius: 54px;
    // border-radius: 54px;
    height: 30rem;
}

#imglogin{
    height: 60vh;
    width: 100%;
    object-fit: cover;
    margin-bottom: -1.3rem;
}
button{
    background-color: rgb(230,160,78);
}
.formlogin__span{
    display: flex;
    flex-direction: column;
    color: rgb(230,160,78);
}
.form__group--username{
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.form__group--password{
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-bottom: 1.5rem;
}
.form__group--buttons{
    display: flex;
    flex-direction: column;
    button{
        font-family: 'Rock Salt';
    }
}
#login--anchor{
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
}


@media only screen and (min-width: 800px) {
    header {
        display: flex;
        justify-content: space-around;
        background-color: rgb(37, 40, 45);
        color: rgb(255, 255, 255);
        width: 100%;
        position: relative;
        bottom: auto;
        left: auto;
        right: auto;
        height: 10vh;
        align-items: center;
        font-family: 'Rock Salt';
        border-radius: 0;
    }

    .header__anchors i{
        display: none;
    }

    .header__anchor--text{
        display: flex;
    }

    .header__logo{
        display: flex;
    }

    .header-logo__img{
        width: 20rem;
        height: 6rem;
    }
    
    .header__anchors {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }
    
    .header__anchor--dashboard, .header__anchor--list, .header__anchor--favourites{
        padding-left: 5%;
    }

    .header__anchor--text{
        display: flex;
        flex-wrap: nowrap;
    }

    .header__anchor--text:hover {
        color: rgb(255, 152, 0);
        cursor: pointer;
    }
    
    .header__search {
        display: none;
    }
    
    .header__logIn{
       display: flex;
       justify-content: center;
       width: 30%;
       align-items: center;
    }

    .header__logIn span{
        padding-left: 10%;
    }

    .header__logIn:hover{
        color: rgb(255, 152, 0);
        cursor: pointer;
    }

    .header__search {
        display: flex;
    }

    .header-search__container {
        display: flex;
        width: 20rem;
        height: 3.3rem;
        background-color: rgb(196, 196, 196);
        border-radius: 2%;
        align-items: center;
    }
    .search__input {
        background: #c4c4c4;
        border: none;
        outline: none;
        margin-left: 1rem;
        font-size: 1rem;
        font-family: 'Rock Salt';
    }

    #search__icon {
        padding-left: 1rem;
    }

    
    /* 
    STYLE FOR LOG IN MODAL
    */
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .formlogin{
        position: absolute;
        width: 50vw;
        height: 50vh;
        background-color: transparent;
        button{
            width: 31rem;
            height: 3.5rem;
            font-family: 'Rock Salt';
            margin-left: 0;
        }
    }
    #login--anchor{
        margin-top: 1rem;
        margin-right: 14rem;
    }
    #imglogin{
        height: 20vh;
        width: 20vw;
        object-fit: none;
        position: center;
        margin-bottom: -1.3rem;
    }

    .formlogin__div--form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
        background-color: rgb(32, 35, 40);
        border-radius: 54px;
        margin-top: 38rem;
        border: 1px solid rgb(255, 152, 0);
    }
    
}


