<header>
    <div class="header__logo">Logo</div>
    <div class="header__anchors">
        <a class="header__anchor--dashboard" routerLink="./dashboard"><i class="fas fa-home">blabla</i></a>
        <a class="header__anchor--list" routerLink="./list"><i class="fas fa-list-ul"></i></a>
        <a class="header__anchor--favourites" routerLink="./favorites"><i class="far fa-star"></i></a>
    </div>
    <div class="header__search">
        busqueda
    </div>
    <div class="header__logIn">
        <i class="fas fa-user"></i>
    </div>
</header>
