header {
    display: flex;
    justify-content: space-around;
    background-color: rgb(60, 62, 68);
    color: rgb(255, 255, 255);
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 8%;
    align-items: center;
    font-family: 'Rock Salt';
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    font-size: 1.6rem;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.header__logo{
    display: none;
    padding-left: 1rem;
}

.header__anchors {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.header__anchor--text{
    display: none;
}

.header__search {
    display: none;
}

.header__logIn{
   display: flex;
   width: 25%;
   justify-content: center;
}


@media only screen and (min-width: 800px) {
    header {
        display: flex;
        justify-content: space-around;
        background-color: rgb(60, 62, 68);
        color: rgb(255, 255, 255);
        width: 100%;
        position: relative;
        bottom: auto;
        left: auto;
        right: auto;
        height: 10vh;
        align-items: center;
        font-family: 'Rock Salt';
        border-radius: 0;
    }

    .header__anchors i{
        display: none;
    }

    .header__anchor--text{
        display: flex;
    }

    .header__logo{
        display: flex;
    }

    .header-logo__img{
        width: 20rem;
        height: 6rem;
    }
    
    .header__anchors {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }
    
    .header__anchor--dashboard, .header__anchor--list, .header__anchor--favourites{
        padding-left: 5%;
    }

    .header__anchor--text{
        display: flex;
        flex-wrap: nowrap;
    }

    .header__anchor--text:hover {
        color: rgb(255, 152, 0);
        cursor: pointer;
    }
    
    .header__search {
        display: none;
    }
    
    .header__logIn{
       display: flex;
       justify-content: center;
       width: 30%;
       align-items: center;
    }

    .header__logIn span{
        padding-left: 10%;
    }

    .header__logIn:hover{
        color: rgb(255, 152, 0);
        cursor: pointer;
    }

    .header__search {
        display: flex;
    }

    .header-search__container {
        display: flex;
        width: 20rem;
        height: 3.3rem;
        background-color: rgb(196, 196, 196);
        border-radius: 2%;
        align-items: center;
    }
    .search__input {
        background: #c4c4c4;
        border: none;
        outline: none;
        padding-left: 1rem;
        font-size: 1rem;
    }

    #search__icon {
        padding-left: 1rem;
    }

}

/* 
STYLE FOR LOG IN MODAL
*/
form{
    margin-top: 2rem;
}

button{
    width: 17.5rem;
    margin-left: 12rem;
    margin-top: 1rem;
}

.formlogin{
   position: absolute;
   width: 100vw;
   height: 193vh;
    background-color: rgb(60, 62, 68);
}
.formlogin__div--form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

#imglogin{
    height: 60vh;
    width: 100%;
    object-fit: cover;
}
button{
    background-color: rgb(230,160,78);
}
.formlogin__span{
    display: flex;
    flex-direction: column;
    color: rgb(230,160,78);
}
.form__group--username{
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.form__group--password{
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-bottom: 1.5rem;
}
.form__group--buttons{
    display: flex;
    flex-direction: column;
}
#login--anchor{
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
}