<app-header></app-header>
<main class="main-container">
    <h2 class="main-container__title">Mocked character list</h2>
    <figure class="main-container__list" *ngFor="let character of Mockmarvel">
        <img class="main-container__list-img" src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" alt="No image available">
        <figcaption class="main-container__list-name" >{{character.name}}<i class="far fa-star"></i></figcaption>
    </figure>
    
    </main>
<app-footer></app-footer>